.upfile-parent {
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    filter : blur(0px);
}

.upfile-parent:hover {
    transition: 0.3s;
    filter : blur(1.5px);
}

.upfile-parent input[type=file] {
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
    font-size: 90px;
}

#custom-img {
    max-width: 100px;
    max-height: 100px;
}

.custom-main {
    text-align: center;
    display: table-caption;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    display: block;
}

#custom-img {
    border-radius: 9px;
}

p {
    font-size: 12px;
}