:root {
    --background: white;
    --border-color: gray;
    --header-background: rgb(100, 100, 100);
    --main-color: #5dc3f5;
    --main-color-darkest: #3e75e6;

    --transition-time: 0.4s;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow-x: hidden;
    margin: 0px;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

.card {
    display: inline-block;
    text-align: center;

    background-color: var(--background);
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;


    border-radius: 20px;
    border: 2px solid var(--border-color);

    transition: transform .2s;

}

.basic:hover {
    transform: scale(1.2);
}

.zoom-card {
    position: relative;
    z-index: 11;
    animation: fadeOut 0.4s forwards;
}

.img-card {
    max-width: 100px;
    max-height: 100px;

    border-radius: 9px;
}

.page-title {
    text-align: center;
}


@keyframes fadeOut { 
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
}

@keyframes fadeIn { 
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

#veil {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(35, 35, 35, 0.45);
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.main-header {
    height: 80px;
    background-color: var(--header-background);
    display: flex;
}

#header-icon {
    transition: var(--transition-time);
    height: 60px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    margin-right: 15px;
}

#header-icon:hover {
    border-radius: 15px;
    box-shadow: 0px 0px 15px var(--main-color-darkest);
}

.header-body {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

button, input[type=submit] {
    transition: var(--transition-time);

    background-color: var(--main-color);
    border-radius: 9px;
    border-style: solid;
    border: 0px;
    box-shadow: 0px 0px 30px var(--main-color);

    color: rgb(60, 60, 60);

    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;

    font-weight: bold;

    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

button:hover, input[type=submit]:hover {
    background-color: var(--main-color-darkest);
    box-shadow: 0px 0px 30px var(--main-color-darkest);

    color: white;

}

.error {
    color: red;
}

select {
    transition: var(--transition-time);

    border: 1px solid;
    border-radius: 9px;
    border-color: var(--main-color);
    box-shadow: 0px 0px 30px var(--main-color);

    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;

    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

select:hover {
    border-color: var(--main-color-darkest);
    box-shadow: 0px 0px 30px var(--main-color-darkest);
}

input[type=text], input[type=number] {
    transition: var(--transition-time);

    border: 1px solid;
    border-radius: 9px;
    border-color: var(--main-color);
    box-shadow: 0px 0px 30px var(--main-color);

    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;

    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

input[type=text]:hover, input[type=number]:hover {
    border-color: var(--main-color-darkest);
    box-shadow: 0px 0px 30px var(--main-color-darkest);
}